.wpkanban-board-wrap {
  overflow-x: auto;
  overflow-y: hidden;

  > div {
    white-space: nowrap;

    > div {
      display: inline-block;
    }
  }
}

.wpkanban-container {
  white-space: nowrap;
  display: inline-block !important;
}

.wpkanban-list-column {
  width: 300px;
  border: 1px solid $color-border;
  padding: 10px;
  margin-right: 20px;
  background: $bg-1;

  h3 {
    font-size: 1rem;
    margin: 0;
  }
  
  section {
    margin-top: $list-item-spacer;
  }
}

.button.wpkanban-add-new-list-button {
  margin-top: $list-item-spacer;
  display: block;
}