@import './variables.scss';
@import './lists.scss';
@import './cards.scss';
@import './smooth-scroll-dnd.scss';

#wpkanban {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  border: none;
  height: 0;
  background: none;

  .postbox-container {
    width: 100%;
  }
}