$color-border: #ccd0d4;
$bg-1: #fff;
$text-1: #444;

$color-error: #ba3e00;
$color-error-admin-coffee: #8996c7;
$color-error-admin-ectoplasm: #b74e45;
$color-error-admin-ocean: #ba9eab;
$color-error-admin-blue: #7b55e3;
$color-error-admin-light: #d64e07;
$color-error-admin-midnight: #363b3f;
$color-error-admin-sunrise: #b43c38;

$list-item-spacer: 10px;